.gradle/
build/
*/build/
.idea/
*.iml
*.class
local.properties
.DS_Store

# Android
**/*.keystore
capture/
google-services.json

# Node/Admin
node_modules/
admin/.svelte-kit/
admin/build/
admin/.env

# Temporary
failed example project/
server/uploads/
